:root {
	--bg: #151c2c;
	--bgSoft: #182237;
	--text: #eee;
	--textSoft: #b7bac1;
	--active: #2e374a;

	--activeLabel: #01c9f1;

	// [data-theme='dark'] {
	// 	--bg: #151c2c;
	// 	--bgSoft: #182237;
	// 	--text: #eee;
	// 	--textSoft: #b7bac1;
	// 	--special: #2e374a;
	// }

	// [data-theme='light'] {
	// 	--bg: #EBECEC;
	// 	--bgSoft: #c6cbd3;
	// 	--text: #151923;
	// 	--textSoft: #1f2b43;
	// 	--special: #838c9f;
	// }
}
